* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 15px;
  background-color: hsl(hue, saturation, lightness);
  color: hsla(hue, saturation, lightness, alpha);
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  margin: auto;
}
main div {
  padding: 2em;
}
#item-1 {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}
#item-2 {
  background-color: hsl(184, 100%, 22%);
}
#item-3 {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}
h1 {
  color: hsl(0, 0%, 95%);
  margin-top: 3em;
  margin-bottom: 1em;
}
p {
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 7em;
}
button {
  background-color: hsl(0, 0%, 95%);
  margin-top: 1em;
  padding: 0.5em;
  border: none;
  border-radius: 4em;
  width: 60%;
}
#sedan {
  color: hsl(31, 77%, 52%);
}
#suv {
  color: hsl(184, 100%, 22%);
}
#luxury {
  color: hsl(179, 100%, 13%);
}
@media screen and (min-width: 375px) {
  main div {
    width: 30%;
    height: 70%;
  }
}
@media screen and (max-width: 1440px) {
  /* main div {
    width: 30%;
    height: 30%;
  } */
}
